html,
body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.round10{
    border-radius: 6px !important;
}

button.navbar-toggler {
    width: 105px;
    border-color: #999999 !important;
    display: flex;
}

.navbar-toggler-icon::after {
    content: "MENU";
    font-weight: bold;
    font-size: 14px;
    padding-left: 35px;
    color: #686868;
    vertical-align: -21%;

}

.port-footer {
    background-color: #DCDCDC;
    height: 60px;
    display: flex;
    align-items: center;
    margin-top: auto;
    padding: 20px;
}

.social-link {
    text-decoration: none;
}

.social-icon {
    color: #444444;
}