<!DOCTYPE html>
<html lang="en">
<head>
    {% load bootstrap5 %} 
    {% bootstrap_css %} 
    {% bootstrap_javascript %} 
    {% bootstrap_messages %} 
    {% load static %} 
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
  <style>
    .navbar-custom {
      background-color: rgb(220, 220, 220);
    }
  </style>
    <nav class="navbar navbar-custom navbar-expand-md navbar-light">
        <div class="container col-md-12">
            <a class="navbar-brand" href="{% url 'portfolio_bio' %}">DirkMeer.com</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">

                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'portfolio_project_list' %}">Projects</a>
                </li>

                <!-- <li class="nav-item">
                  <a class="nav-link" href="{% url 'blog_index' %}">Blog</a>
                </li> -->
                
                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'portfolio_certification_list' %}">Certifications</a>
                </li>

              </ul>
            </div>
        </div>
    </nav>
    <br>
    <div class="container col-md-12">
    {% block content %}{% endblock %}
    </div>
</body>
</html>