<!DOCTYPE html>
<html lang="en">
<head>
    {% load bootstrap5 %} 
    {% bootstrap_css %} 
    {% bootstrap_javascript %} 
    {% bootstrap_messages %} 
    {% load static %} 
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DirkMeer.com</title>
    <!-- css, js -->
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <script src="{% static 'utils.js' %}"></script>
    <link rel="icon" href="{% static 'favicon/favicon.ico' %}">
    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/6ec1fc927f.js" crossorigin="anonymous"></script>
</head>
<body>
  <style>
    .navbar-custom {
      background-color: rgb(220, 220, 220);
    }
  </style>
    <nav class="navbar navbar-custom navbar-expand-md navbar-light">
        <div class="container col-md-12">
            <a class="navbar-brand me-3" href="{% url 'portfolio_bio' %}">
              <!-- <img src="{% static 'favicon/192.png' %}" alt="Site logo" width="30" height="30" class="d-inline-block align-text-top"> -->
              <span>DirkMeer</span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">

                <li class="nav-item active ms-2">
                  <a class="nav-link" href="{% url 'portfolio_project_list' %}">Projects</a>
                </li>
                
                <li class="nav-item active ms-2">
                  <a class="nav-link" href="{% url 'portfolio_certification_list' %}">Certifications</a>
                </li>

              </ul>
            </div>
        </div>
    </nav>
    <br>
    <div class="container col-md-12 mb-3">
    {% block content %}{% endblock %}
    </div>
    {% include 'footer.html' %}
</body>
</html>