{% extends 'base.html' %} 
{% load static %}
{% block content %} 
<h1 class="mb-3">Certifications</h1>
<div class="row">
    {% for certification in certifications %}
    <div class="col-xl-3 col-md-4 col-sm-6">
        <div class="card mb-4">
            <img src="{% static certification.image %}" class="card-img-top">
            <div class="card-body">
                <h6 class="card-title">{{ certification.name }}</h6>
                <p class="card-text">{{ certification.short_description }}</p>
            </div>
                <div class="card-footer text-muted" style="font-size: 0.7em">
                        {{ certification.workload }}hrs -
                        Date: {{ certification.issue_date }} -
                        {{ certification.issuer }} -
                        <a href="{{ certification.url }}" target="_blank">Verification link</a> 
                </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}