{% block footer %} 
<footer class="container-fluid port-footer">
    <div class="container col-md-12">
        <a href="https://www.linkedin.com/in/dirk-van-meerveld-58969a24b/" target="_blank" 
            class="me-2 social-link">
            <i class="fa-brands fa-linkedin fa-2xl social-icon"></i>
        </a>
        <a href="https://github.com/DirkMeer" target="_blank"
            class="me-2 social-link">
            <i class="fa-brands fa-github fa-2xl social-icon"></i>
        </a>
        <a id="contact" href=""
            class="me-2 social-link">
            <i class="fa-regular fa-envelope fa-2xl social-icon"></i>
        </a>
        Copyright DirkMeer.com {% now "Y" %} 
    </div>
</footer>

{% endblock %} 