{% extends 'etbase.html' %}
{% load addclass %}

{% block content %}

<div class="my-3 mx-3">
    <h2 class="mb-3">Password change</h2>
    <form method="post">
        {{form.non_field_errors}}
        {% csrf_token %}
        {% for field in form %}
        <p>
            {{field.label_tag}}
            {{ field | addclass:"form-control"}}
            {{ field.help_text | safe }}
            {% if field.errors %}
            {{ field.errors }}
            {% endif %}
        </p>
        {% endfor %}
        <div class="container-fluid btn-container mt-4 mx-0 p-0">

                <input type="submit" value="Change password" 
                    class="btn btn-success mt-1 me-sm-2 px-4">
                    
                <a href="javascript:window.history.back()" 
                    class="btn btn-secondary mt-1 me-sm-2 px-4">
                    Cancel
                </a>
        </div>
    </form>
</div>


{% endblock %}