{% extends 'etbase.html' %}
{% load addclass %}

{% block content %}

<div class="my-3 mx-3">
    <h2 class="mb-3">Password reset</h2>
    <p>Have you forgotten your password? Enter your email address and we will send instructions to create a new one.</p>
    <form method="post">
        {{form.non_field_errors}}
        {% csrf_token %}
        {% for field in form %}
        <p>
            {{field.label_tag}}
            {{ field | addclass:"form-control"}}
            {{ field.help_text | safe }}
            {% if field.errors %}
            {{ field.errors }}
            {% endif %}
        </p>
        {% endfor %}
        <div class="container-fluid btn-container">
            <input type="submit" value="Reset password" 
                class="btn btn-success mt-1 me-sm-2 px-4">
                
            <a href="javascript:window.history.back()" 
                class="btn btn-secondary mt-1 me-sm-2 px-4">
                Cancel
            </a>
        </div>
    </form>
</div>


{% endblock %}