{% extends 'base.html' %} 
{% block content %} 

Welcome to my portfolio.

{% endblock %}

<!-- 
On loading the page have the database auto load and or update exchange values in the database. and send these over the context? No that will make the browser wait.

Use react to make this into a SPA receiving the data from your Django backend. You will basically have two nicely styled bootstrap cards adjecent to each other. Both have the ammount as an input box that can be edited live and will adjust the amount in the other input box. Figure out how to make this mobile responsive as well, but first, get back into react.
-->